.home-header {
  padding: 200px 0;
  background-image: url(../../img/bg.jpg);
  position: relative;
}

.home-header-content {
  max-width: 600px;
}

.wave {
  position: absolute;
  width: 100%;
}

.wave.top {
  top: 100%;
  bottom: -100%;
  background-image: url('../../img/wave.svg'); 
  background-repeat: no-repeat; 
}

.wave.bottom {
  height: 100%;
  top: 0;
  background-image: url('../../img/wave-2.svg'); 
  background-repeat: no-repeat; 
}

.participants {
  padding: 100px 0;
}

.participants-content {
  gap: 104px;
  margin-top: 50px;
}
